<h2>Edit page coming soon</h2>

<% @instances.each do |i| %>

  <div>
    <form action="<%= update_path(i) %>" method="post">
      <label for="card">Card Text</label>
      <input type="text" name="card" value="<%=i.card %>" required>

      <label for="deck_id">Deck</label>
      <%= select :deck_id, nil, :value => i.deck_id %>

      <label for="sfw">SFW</label>


      <button>Update card</button>
  </div>
<% end %>
